.mt4 {
  margin-top: 4px !important;
}

.mt8 {
  margin-top: 8px !important;
}

.mt12 {
  margin-top: 12px !important;
}

.font-size {
  font-size: 24px !important;
}/*# sourceMappingURL=registerPage.module.css.map */