.bg__top-header {
	background-color: #0f6c76;
	.font-size-15 {
		font-size: 15px;
	}
	.text__header-color {
		color: #e6f8fc;
	}
	.li-item {
		margin: 0 30px;
		width: 0.5px;
		background-color: #fff;
		height: 24px;
		text-align: center;
		border: none;
	}
}
