.container__search {
	border: 1px solid #f2f0ef;
	background-color: #f2f0ef;
	padding: 10px 20px;
	height: 55px;
	border-radius: 5px;
}

.form-control {
	width: 100%;
	color: #0d0c0c;
	transition: all 0.5s ease;
	background-color: #f2f0ef;
	outline: none;
}

.bg__background {
	background: linear-gradient(133.65deg, #6cc17e 2.24%, #098b99);
	border-radius: 5px;
	cursor: pointer;
	&:hover {
		background: #098b99;
	}
}
