@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300&family=Montserrat:wght@300;400;500;600;700;900&family=Open+Sans:wght@700&family=Oswald:wght@300;400;500;600;700&family=Pacifico&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap");

:root {
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	// font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: "Josefin Sans", sans-serif;
	// font-size: 1.6rem;
	line-height: 1.5;
	text-rendering: optimizeSpeed;
}
